@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.game-board {
    width: 1000px;
    height: 500px;
    border: 1px solid #000;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(110, 197, 255);
}

#mario {
    position: absolute;
    bottom: 0;
    left: 140px;
}

#containter {
    display: flex;
    background-color: black;
    width: 100vw;
    justify-self: center;
    align-items: center;
    height: 100vh;
}

.pular {
    animation: jump 2s;
}

.andando {
    width: 170px;
    height: 200px;
}

.parado {
    width: 80px;
    height: 150px;
}

#pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
}

.cloud {
    position: absolute;
    top: 70px;
    width: 500px;
}

.teclas{
    gap: 5px;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.duasTeclas{
    display: flex;
        gap: 5px;
}

#telaMorreu {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#telaMorreu h1 {
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    color: white;
}

#telaMorreu button {
    background-color: transparent;
    background-color: white;
    color: black;
    padding: 10px;
    width: 100%;
}

#telaMorreu button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.placar{
    background-color: transparent;
    position: absolute;
    width: 100%;
    color: black;
    padding: 5px 0px 5px 20px;
    display: flex;
    z-index: 100;
    gap: 20px;
}

.morrer {
    animation: morrerAnimacao 1s forwards;

}

.inverter {
    transform: scaleX(-1);
}

.vir {
    animation: pipe-animation 10s linear infinite;
}

@keyframes pipe-animation {
    0% {
        right: -510px;
    }

    100% {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 200px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes morrerAnimacao {
    0% {
        bottom: 0px;
        scale: 1;
    }

    100% {
        bottom: 200px;
        scale: 1.2;
    }
}